# Salaries By Major (Updated Version)

This is the updated version of the salaries by major program.

It automatically fetches the latest data from the Payscale website (instead of relying on the CSV file).

## Fetching the Data

In [1]:
import pandas as pd

# Create an empty Pandas dataframe
df = pd.DataFrame()

# Get the data from the each page
for page_no in range(1, 35):
    table = pd.read_html(f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{page_no}")[0]
    table.columns = ['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay', '% High Meaning']
    df = df.append(table, ignore_index=True)

## Cleaning the Data

In [2]:
# Name the columns
df.columns = ['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay', '% High Meaning']

# Remove the Rank and Degree Type columns
df = df.drop(columns=['Rank', 'Degree Type'])

# Remove the column names from the rows
for column in df.columns:
    df[column] = df[column].str.replace(f'{column}:', '')

# Remove the dollar signs and commas from the salary columns and convert to float
for column in ['Early Career Pay', 'Mid-Career Pay']:
    df[column] = df[column].str.replace('[$,]', '', regex=True).astype(float)

# Display the values with proper formatting (commas and dollar signs)
pd.options.display.float_format = '${:,.2f}'.format

## Analyzing the Data

These are the 10 highest paying majors early in the career::

In [3]:
df.nlargest(10, 'Early Career Pay')

,Major,Early Career Pay,Mid-Career Pay,% High Meaning
2,Electrical Engineering & Computer Science (EECS),"$108,500.00","$159,300.00",46%
75,Physician Assistant Studies,"$95,900.00","$118,500.00",84%
0,Petroleum Engineering,"$93,200.00","$187,300.00",67%
1,Operations Research & Industrial Engineering,"$84,800.00","$170,400.00",28%
5,Operations Research,"$83,500.00","$147,400.00",54%
158,Nuclear Engineering Technology (NET),"$83,500.00","$106,000.00",62%
58,Metallurgical Engineering,"$81,800.00","$122,200.00",61%
278,Computer Science (CS) & Business,"$81,100.00","$94,600.00",28%
36,Welding Engineering,"$81,000.00","$126,600.00",56%
330,Electronic Systems Technology (EST),"$81,000.00","$91,200.00",-

These are the 10 lowest paying majors early in the career:

In [4]:
df.nsmallest(10, 'Early Career Pay')

,Major,Early Career Pay,Mid-Career Pay,% High Meaning
804,Voice & Opera,"$34,500.00","$53,300.00",57%
593,Painting & Printmaking,"$34,700.00","$73,600.00",41%
764,Psychology & Human Services,"$35,600.00","$59,400.00",-
818,Equine Studies,"$35,700.00","$47,100.00",50%
756,Rehabilitation Services,"$35,800.00","$60,200.00",79%
825,Medical Assisting,"$36,000.00","$44,800.00",-
816,Mental Health Counseling,"$36,100.00","$50,000.00",78%
823,Early Childhood Education,"$36,100.00","$45,400.00",78%
767,Biblical Studies & Practical Ministries,"$36,400.00","$58,900.00",76%
820,Child & Family Studies,"$36,400.00","$46,500.00",73%

These are the 10 highest paying majors late in the career:

In [5]:
df.nlargest(10, 'Mid-Career Pay')

,Major,Early Career Pay,Mid-Career Pay,% High Meaning
0,Petroleum Engineering,"$93,200.00","$187,300.00",67%
1,Operations Research & Industrial Engineering,"$84,800.00","$170,400.00",28%
2,Electrical Engineering & Computer Science (EECS),"$108,500.00","$159,300.00",46%
3,Interaction Design,"$68,300.00","$155,800.00",55%
4,Public Accounting,"$59,800.00","$147,700.00",47%
5,Operations Research,"$83,500.00","$147,400.00",54%
6,Applied Economics and Management,"$66,100.00","$146,400.00",67%
7,Business Computing (BC),"$73,000.00","$143,600.00",-
8,Actuarial Mathematics,"$64,300.00","$143,400.00",51%
9,Electrical Power Engineering,"$76,100.00","$142,600.00",68%

These are the 10 lowest paying majors late in the career:

In [6]:
df.nsmallest(10, 'Mid-Career Pay')

,Major,Early Career Pay,Mid-Career Pay,% High Meaning
826,Metalsmithing,"$40,000.00","$40,300.00",33%
825,Medical Assisting,"$36,000.00","$44,800.00",-
824,Mental Health,"$36,900.00","$45,000.00",-
823,Early Childhood Education,"$36,100.00","$45,400.00",78%
822,Outdoor Education,"$37,400.00","$46,300.00",52%
821,Rehabilitation Counseling,"$39,200.00","$46,400.00",-
820,Child & Family Studies,"$36,400.00","$46,500.00",73%
819,Addiction Studies,"$38,000.00","$47,000.00",84%
818,Equine Studies,"$35,700.00","$47,100.00",50%
817,Early Childhood & Elementary Education,"$38,000.00","$48,400.00",77%

BONUS: These are the majors which give people the most satisfaction that they're making a difference in the world:

In [7]:
df.sort_values(by='% High Meaning', ascending=False).head(10)

,Major,Early Career Pay,Mid-Career Pay,% High Meaning
754,Music Therapy,"$43,100.00","$60,700.00",93%
129,Medicine,"$60,600.00","$109,200.00",92%
594,Cardiopulmonary Science,"$48,900.00","$73,400.00",90%
295,Radiation Therapy,"$68,400.00","$93,400.00",90%
520,Cytotechnology,"$61,900.00","$78,200.00",89%
238,Physical Therapy,"$55,500.00","$98,200.00",88%
297,Occupational Therapy (OT),"$54,100.00","$93,300.00",88%
517,American Sign Language Interpreting,"$43,100.00","$78,300.00",87%
471,Diagnostic Medical Sonography,"$64,300.00","$81,400.00",86%
612,Medical Laboratory Science,"$55,600.00","$72,300.00",85%